@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --white: #FFFCFF;
    --purple: #443742;
    --brown: #C3B299;
    --green: #CBD4C2;
    --blue: #247BA0;
}

*{
    font-family: "Chakra Petch", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 0;
    color: black;
}

#calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
    gap: 3px;
    width: 20rem;
    aspect-ratio: 2/3;
    background-color: var(--purple);
    border: solid 10px var(--purple);
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
}

h1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    text-align: end;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
    width: 100%;
    border-radius: 5px;
}

button{
    background-color: var(--brown);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: xx-large;
    font-weight: 200;
}

.operator{
    background-color: var(--green);
}

#addition{
    grid-column-start: 1;
    grid-row-start: 2;
}

#subtraction{
    grid-column-start: 2;
    grid-row-start: 2;
}

#multiplication{
    grid-column-start: 3;
    grid-row-start: 2;
}

#division{
    grid-column-start: 4;
    grid-row-start: 2;
}

#clear{
    grid-column-start: 3;
    grid-row-start: 6;
}

#equal{
    background-color: var(--blue);
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 7;
}

.active {
    background-color: var(--blue);
}